<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                   <label for="porcentualE">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentualE" name="porcentualE" [(ngModel)]="porcentualE" required>
                </div>
                
                <button class="btn btn-primary">
                    Agregar Porcentaque
                </button>
            </form>
        </div>
    </div>
</div>

