<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="https://i.imgur.com/Yjlim0l.jpg" class="img-fluid" id="portfoliofoto">
    </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Desarrollador Full Stack Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Me presento</h1>
            <p>Soy una persona que trata de aprender algo nuevo siempre </p>
        </span>
    </div>
</div> 
