.container{
    background: #5a5656;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 1.5em;
}
#logoAP{
    width: 250px; /* altura del baner superior login*/
}
img{
    width: 50px; /*tamaño redessociales*/
}
.btn{
    margin-left: 1.5em;
    border-width: medium;
}




